name: Tests Python 3.10

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test-python-reusable.yml
    with:
      python-version: "3.10"
